<spinner name="html5spinner" ng-init="loading()">
        <div class="overlayy"></div>
        <div id="loading">
        <div id="loading-center">
                <div id="loading-center-absolute">
                <div class="object" id="object_four"></div>
                <div class="object" id="object_three"></div>
                <div class="object" id="object_two"></div>
                <div class="object" id="object_one"></div>
                </div>
                </div>
        </div>
</spinner>

<div class="header">
	<div id="site_title">
		<a href=""><img src="images/lol.jpg" alt="" style=" width: 220px;"></a>
	</div>
	<!-- Main Menu -->
	<ol id="menu">
		<li class="active_menu_item"><a ui-sref="entry">Home</a></li>
		<li><a ui-sref="health">Health</a></li>
		<li><a ui-sref="about2">About US</a></li>
		<li><a ui-sref="MakeupTips">Makeup Tips</a></li>
		<li><a ui-sref="Cosmetic">Cosmetic</a></li>
	</ol>
</div>
<!-- END header -->
<div id="container">
  		<h1>About Us</h1>
					<p>We’ve searched the world to bring you the best performing makeup. From Pretoria's finest to brands born and bred in
						RSA, we’re always on the lookout for the next big thing. These dreamy lip hues and ultimate brow saviours are the formulas
						that you’ll be reaching for every day.</p>
          <p>Our Store Address Pretorious and Central street</p>
          
		  <!-- <img src="images/map.png" alt="Image" style="width:500;margin-top: 10px;padding-left:0px;height:300px;"> -->
		  
		<div id="map"></div>

</div>
<!-- END container -->
<div id="footer" style="width: 960px;">
			<div class="one-fourth" style="color:black;font-family: sans-serif;">
				<h2 style="font-family: sans-serif;"> Contact Us</h2>
				contact number: 0799806638
				Email Address: jabu.webdeveloper@gmail.com		

			</div>

			<div class="one-fourth" style="color:black;font-family: sans-serif;">
				<h2 style="font-family: sans-serif;"> Mission</h2>
				To ensure each client receives professional, quality and friendly service. To ensure each client
				is treated with respectand honesty. To meet the client needs by using high quality
				chemical free and organic cosmetics.

			</div>

			<div class="one-fourth" style="color:black;font-family: sans-serif;">
				<h2 style="font-family: sans-serif;"> Vision</h2>
				Hello Beautiful Makeup Services encourages human compassion through a business motivated by those who suffer from lack
				of physical confidence or self esteem. We will provide makeovers and lessons at a competitive rate, without compromising
				quality, professionalism or integrity
			</div>

			<div class="one-fourth last">
				<h2 style="font-family: sans-serif;"> Socialize</h2>
				<img src="images/contact.jpg" style="width:120px" alt="Image">
			</div>
		</div>
		<p style="position: absolute;top:900px;text-align: bottom;padding-left: 0px;padding-top: 130px;font-size:11px;margin-left: 200px;">&copy; Copyright &copy; 2011. Company name all rights reserved</p>

	</div>
<!-- END footer -->
