<spinner name="html5spinner" ng-init="loading()">
	<div class="overlayy"></div>
	<div id="loading">
		<div id="loading-center">
			<div id="loading-center-absolute">
				<div class="object" id="object_four"></div>
				<div class="object" id="object_three"></div>
				<div class="object" id="object_two"></div>
				<div class="object" id="object_one"></div>
			</div>
		</div>
	</div>
</spinner>

<div class="header">
	<div id="site_title">
		<a href=""><img src="images/lol.jpg" alt="" style=" width: 220px;"></a>
	</div>
	<!-- Main Menu -->
	<ol id="menu">
		<li class="active_menu_item"><a ui-sref="entry">Home</a></li>
		<li><a ui-sref="health">Health</a></li>
		<li><a ui-sref="about2">About US</a></li>
		<li><a ui-sref="MakeupTips">Makeup Tips</a></li>
		<li><a ui-sref="Cosmetic">Cosmetic</a></li>
	</ol>
</div>
<!-- END header -->
<div id="container">
	<div id="prod_wrapper">
		<div id="panes">
			<div> <img src="/images/lipstick.jpg" alt="" style="width:380px; height:300px;">
				<h2>Lipsticks</h2>
				<p>Lipstick is a cosmetic product containing pigments, oils, waxes, and emollients that apply color, texture, and protection
					to the lips. Many colors and types of lipstick exist. As with most other types of makeup, lipstick is typically, but
					not exclusively, worn by women. Some lipsticks are also lip balms, to add color and hydration.</p>
			</div>
			<div> <img src="/images/pearls.jpg" alt="" style="width:380px; height:300px">
				<h2>Pearls</h2>
				<p>pearls Indulge in a glistening sheer wash of color with illuminating, radiant Mineral Pearls, designed to complement
					any skin tone. 6 multi-colored pearls blend together to mattify skin for a flawless, radiant look. Choose from Natural
					to boost your natural radiance, or Skin Balancing for a more even complexion.</p>
			</div>
			<div> <img src="/images/nail.jpg" alt="" style="width:380px; height:300px">
				<h2>Nail Polish</h2>
				<p>Nail polish (also known as nail varnish) is a lacquer that can be applied to the human fingernails or toenails to decorate
					and protect the nail plates. The formulation has been revised repeatedly to enhance its decorative effects and to suppress
					cracking or flaking.
				</p>
			</div>
			<div> <img src="/images/brushes.jpg" alt="" style="width:380px; height:300px">
				<h2>Makeup Brushes</h2>
				<p>Brushes Alternate uses: Apply cream blush, blend out harsh makeup lines, and remove excess product. Elizabeth Griffin.
					Kathleen Kamphausen. 3. Kabuki Brush: This big brush is perfect for softly</p>
			</div>
			<div> <img src="/images/eyes.jpg" alt="" style="width:380px; height:300px">
				<h2>Eye Shadows </h2>
				<p>Eye shadow is a cosmetic that is applied on the eyelids and under the eyebrows. It is commonly used to make the wearer's
					eyes stand out or look more attractive. Eye shadow can add depth and dimension to one's eyes, complement the eye color,
					make one's eyes appear larger, or simply draw attention to the eyes.</p>
			</div>
		</div>
		<!-- END tab panes -->
		<br clear="all">
		<!-- navigator -->
		<div id="prod_nav">
			<ul>
				<li>
					<a href="#1"><img src="/images/lipstick.jpg" width="160" height="120" alt=""><strong>lipstick</strong> </a>
				</li>
				<li>
					<a href="#2"><img src="/images/pearls.jpg" width="160" height="120" alt=""><strong>pearls</strong></a>
				</li>
				<li>
					<a href="#3"><img src="/images/nail.jpg" width="160" height="120" alt=""><strong>nail</strong></a>
				</li>
				<li>
					<a href="#4"><img src="/images/brushes.jpg" width="160" height="120" alt=""><strong>brushes</strong> </a>
				</li>
				<li>
					<a href="#5"><img src="/images/eyes.jpg" width="160" height="120" alt=""><strong>eyes</strong></a>
				</li>
			</ul>
		</div>


	</div>
</div>
<!-- END container -->
<div id="footer" style="width: 960px;">
	<div class="one-fourth" style="color:black;font-family: sans-serif;">
		<h2 style="font-family: sans-serif;"> Contact Us</h2>
		contact number: 0799806638 Email Address: jabu.webdeveloper@gmail.com

	</div>

	<div class="one-fourth" style="color:black;font-family: sans-serif;">
		<h2 style="font-family: sans-serif;"> Mission</h2>
		To ensure each client receives professional, quality and friendly service. To ensure each client is treated with respectand
		honesty. To meet the client needs by using high quality chemical free and organic cosmetics.

	</div>

	<div class="one-fourth" style="color:black;font-family: sans-serif;">
		<h2 style="font-family: sans-serif;"> Vision</h2>
		Hello Beautiful Makeup Services encourages human compassion through a business motivated by those who suffer from lack of
		physical confidence or self esteem. We will provide makeovers and lessons at a competitive rate, without compromising quality,
		professionalism or integrity
	</div>

	<div class="one-fourth last">
		<h2 style="font-family: sans-serif;"> Socialize</h2>
		<img src="images/contact.jpg" style="width:120px" alt="Image">
	</div>
</div>
<p style="position: absolute;top:900px;text-align: bottom;padding-left: 0px;padding-top: 70px;font-size:11px;margin-left: 180px;">&copy; Copyright &copy; 2011. Company name all rights reserved</p>

</div>
<!-- END footer -->