<spinner name="html5spinner" ng-init="loading()">
        <div class="overlayy"></div>
        <div id="loading">
        <div id="loading-center">
                <div id="loading-center-absolute">
                <div class="object" id="object_four"></div>
                <div class="object" id="object_three"></div>
                <div class="object" id="object_two"></div>
                <div class="object" id="object_one"></div>
                </div>
                </div>
        </div>
</spinner>

<div class="header">
	<div id="site_title">
		<a href=""><img src="images/lol.jpg" alt="" style=" width: 220px;"></a>
	</div>
	<!-- Main Menu -->
	<ol id="menu">
		<li class="active_menu_item"><a ui-sref="entry">Home</a></li>
		<li><a ui-sref="health">Health</a></li>
		<li><a ui-sref="about2">About US</a></li>
		<li><a ui-sref="MakeupTips">Makeup Tips</a></li>
		<li><a ui-sref="Cosmetic">Cosmetic</a></li>
	</ol>
</div>
<!-- END header -->
<div id="container">
	<div id="myTabs">
		<h1>we also provide training courses</h1>
		<div id="tabs">
			<button ng-click="cousess()">Massage</button>
		</div>
		<div id="tabs" >
			<button ng-click="cousess1()">Makeup</button>
		</div>
		<div id="tabs" >
			<button ng-click="cousess2()">Braiding</button>
		</div>
	</div>

	<div id="couses">
		<table>
			<thead>
				<th>Period</th>
				<th>Price</th>

			</thead>
			<tbody>
				<tr ng-controller="makeupTipsCtrl">
					<td>0-3 Months</td>
					<td>R1500</td>
				</tr>
				<tr ng-controller="makeupTipsCtrl">
					<td>0-6 Months</td>
					<td>R300</td>
				</tr>
				<tr ng-controller="makeupTipsCtrl">
					<td>0-12 Months
						<td>R600</td>
				</tr>
			</tbody>
		</table>
	</div>


	<div id="couses1">
		<table>

			<thead>
				<th>Period</th>
				<th>Price</th>

			</thead>
			<tbody>
				<tr ng-controller="makeupTipsCtrl">
					<td>0-3 Months</td>
					<td>R1000</td>
				</tr>
				<tr ng-controller="makeupTipsCtrl">
					<td>0-6 Months</td>
					<td>R1500</td>
				</tr>
				<tr ng-controller="makeupTipsCtrl">
					<td>0-12 Months</td>
					<td>R1900</td>
				</tr>
			</tbody>
		</table>
	</div>


	<div id="couses2">
		<table>

			<thead>
				<th>Period</th>
				<th>Price</th>
			</thead>

			<tbody>
				<tr ng-controller="makeupTipsCtrl">
					<td>0-3 Months</td>
					<td>800</td>
				</tr>
				<tr ng-controller="makeupTipsCtrl">
					<td>0-6 Months</td>
					<td>R1400</td>
				</tr>
				<tr ng-controller="makeupTipsCtrl">
					<td>0-12 Months</td>
					<td>R1800</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div id="myVideo">
		<iframe src="http://player.vimeo.com/video/213271188?title=0&amp;byline=0&amp:portrait=0&amp;color=ffffff" width="400" height="262" frameborder="0"
		 webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	</div>
</div>

</div>


</div>
<!-- END container -->
<div id="footer" style="width: 960px;">
	<div class="one-fourth" style="color:black;font-family: sans-serif;">
		<h2 style="font-family: sans-serif;"> Contact Us</h2>
				contact number: 0799806638
				Email Address: jabu.webdeveloper@gmail.com	

	</div>

	<div class="one-fourth" style="color:black;font-family: sans-serif;">
		<h2 style="font-family: sans-serif;"> Mission</h2>
		To ensure each client receives professional, quality and friendly service. To ensure each client is treated with respectand
		honesty. To meet the client needs by using high quality chemical free and organic cosmetics.

	</div>

	<div class="one-fourth" style="color:black;font-family: sans-serif;">
		<h2 style="font-family: sans-serif;"> Vision</h2>
		Hello Beautiful Makeup Services encourages human compassion through a business motivated by those who suffer from lack of
		physical confidence or self esteem. We will provide makeovers and lessons at a competitive rate, without compromising quality,
		professionalism or integrity
	</div>

	<div class="one-fourth last">
		<h2 style="font-family: sans-serif;"> Socialize</h2>
		<img src="images/contact.jpg" style="width:120px" alt="Image">
	</div>
</div>
<p style="position: absolute;top: 700px;text-align: bottom;padding-left: 0px;padding-top: 49px;font-size:11px;padding-bottom: 0px;margin-left: 180px;">&copy; Copyright &copy; 2011. Company name all rights reserved</p>

</div>
<!-- END footer -->